:root {
  --bg: #013220;
  --orange: #f18f01;
  --theme-color: #c41e3a;
  --calendar-item: 40px;
  --silver: #bec2cb;
  --gold: #d4af37;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f4f6f8;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

code {
  background-color: var(--bg);
  color: var(--orange);
  display: inline-block;
  padding: 2px 5px;
}

a {
  color: var(--theme-color);
}

h1 {
  margin-top: 0;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

button {
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.day {
  border: 2px dashed var(--theme-color);
  padding: 20px;
  border-radius: 8px;
  height: 154px;
  width: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
}

.complete {
  flex-direction: column;
  width: auto;
  height: auto;
  min-height: 154px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}

.day-title {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-size: 16px;
}

.day-solutions {
  padding-left: 20px;
}

.front {
  background-color: var(--theme-color);
  color: white;
  height: 154px;
  width: 154px;
  padding: 20px;
  border: none;
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-size: 48px;
}

.back {
  padding: 20px;
  min-height: 154px;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 0 0 16px;
  border: none;
  background-color: var(--theme-color);
}

.animated-container {
  overflow: hidden;
  position: relative;
}

.content-wrap {
  grid-row: 1;
  padding: 20px 40px;
}

.footer {
  grid-row: 2;
  color: var(--bg);
  padding: 10px 40px;
  border-top: 2px solid var(--bg);
}

.underline {
  color: var(--theme-color);
}

.button {
  float: right;
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--theme-color);
  border-radius: 8px;
  padding: 2px 4px;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--theme-color);
  color: white;
}

/* Day */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.intro p {
  line-height: 1.5em;
}

.solution1,
.solution2,
.description {
  width: 30vw;
}

.description h2 {
  margin-top: 0;
}

@media (width <= 900px) {
  /* body {
    display: flex;
    flex-flow: wrap column;
  }

  .container {
    flex-direction: column;
  } */
}
