<button type="button" class="button" {{on "click" this.toggle}}>{{if this.show "Hide code" "Show code"}}</button>
{{#if this.show}}
  {{#let (get-code-snippet @name) as |snippet|}}
    <CodeBlock @code= {{snippet.source}} @language={{snippet.language}} />
  {{/let}}
{{/if}}
