{{page-title "Advent Of Code 2024"}}
<div class="content-wrap">
  <h1>Welcome to MinThaMie's advent of code 2024</h1>
  <div class="calendar">
    <div class="complete">
      <Puzzles::Day1 />
    </div>
    <div>
      <Puzzles::Day2 />
    </div>
    <div>
      <Puzzles::Day3 />
    </div>
    <div>
      <Puzzles::Day4 />
    </div>
    <div>
      <Puzzles::Day5 />
    </div>
    <div>
      <Puzzles::Day6 />
    </div>
    <div>
      <Puzzles::Day7 />
    </div>
    <div>
      <Puzzles::Day8 />
    </div>
    <div>
      <Puzzles::Day9 />
    </div>
    <div>
      <Puzzles::Day10 />
    </div>
    <div>
      <Puzzles::Day11 />
    </div>
    <div>
      <Puzzles::Day12 />
    </div>
    <div>
      <Puzzles::Day13 />
    </div>
    <div>
      <Puzzles::Day14 />
    </div>
    <div>
      <Puzzles::Day15 />
    </div>
    <div>
      <Puzzles::Day16 />
    </div>
    <div>
      <Puzzles::Day17 />
    </div>
    <div>
      <Puzzles::Day18 />
    </div>
    <div>
      <Puzzles::Day19 />
    </div>
    <div>
      <Puzzles::Day20 />
    </div>
    <div>
      <Puzzles::Day21 />
    </div>
    <div>
      <Puzzles::Day22 />
    </div>
    <div>
      <Puzzles::Day23 />
    </div>
    <div>
      <Puzzles::Day24 />
    </div>
    <div>
      <Puzzles::Day25 />
    </div>

  </div>
</div>
<footer class="footer">
  <span>An open-source project made with ❤️ by
    <a
      href="https://twitter.com/agvanherwijnen"
      class="underline"
      rel="external"
    >Anne-Greeth</a>. Hosted by
    <a
      href="https://www.netlify.com"
      class="underline"
      rel="external"
    >Netlify</a>.</span>
  <span>Wanna run this project yourself, check out the code on the
    <a
      href="https://github.com/minthamie/advent-of-code-2023"
      class="underline"
      rel="external"
    >GitHub repository</a>.</span>
</footer>